footer.footer
  .footer__logo
    img(src='/img/logo2.png' alt='Natour logo') 
    span.text Natours
  p.footer__copyright &copy; by Deepak Mudali. Feel free to use this project for your own purposes.